<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Invoice Generation</title>
    <meta http-equiv="Content-Type"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/create.js" type="application/javascript"></script>
    <script src="/jQuery-Validation/dist/jquery.validate.js" type="application/javascript"></script>
</head>
<body>
<h1>Invoice Form</h1>

<form id="myForm" action="/success/created">
    <!--Using thymeleaf to iterate over the array -->
    <!--TYPE OF INVOICE-->
    <div>
    <p>Invoice Type:
        <select id="invoiceType" name="invoiceType" required>
            <option value=''> -- </option>
            <option th:each="invoiceType : ${invoiceTypeValues}"
                    th:value="${invoiceType}"
                    th:text="${invoiceType}">
            </option>
        </select>
    </p>
    </div>
    <!--CODE OF PORTFOLIO-->
    <div>
        <p>Portfolio:
            <select id="portfolio" name="portfolio" required>
                <option value=""> -- </option>
                <option th:each="code : ${portfolios}"
                        th:value="${code.getId()}"
                        th:text="${code.portfolioCode + ' - ' + code.getClient().getClientName()}">
                </option>
            </select>
        </p>
    </div>
    <!--DATE OF INVOICE ISSUE-->
    <p>Invoice Date: <input type="text" id="invoiceDate" name="invoiceDate" required></p>
    <!--THE NUMBER OF INVOICE-->
    <p>Invoice Number: <input type="text" id="invoiceNumber" name="invoiceNumber" required/></p>
    <!--VAT EXEMPT-->
    <div>
        <p>VAT Exempt:
            <select id="vatExempt" name="vatExempt" required>
                <option value=""> -- </option>
                <option th:each="option : ${isApplicableValues}"
                        th:value="${option}"
                        th:text="${option}">
                </option>
            </select>
        </p>
    </div>
    <!--REVERSE CHARGE-->
    <div>
        <p>Reverse Charge:
            <select id="reverseCharge" name="reverseCharge" required>
                <option value=""> -- </option>
                <option th:each="option : ${isApplicableValues}"
                        th:value="${option}"
                        th:text="${option}">
                </option>
            </select>
        </p>
    </div>
    <!--SERVICE CHARGED-->
    <div>
        <p>Service to charge for:
            <select id="serviceProvided" name="serviceProvided" required>
                <option value=""> -- </option>
                <option th:each="service : ${services}"
                        th:value="${service.getId()}"
                        th:text="${service.serviceName}">
                </option>
            </select>
        </p>
    </div>
    <!--FREQUENCY-->
    <div>
        <p>Frequency:
            <select id="frequency" name="frequency" required>
                <option value=""> -- </option>
                <option th:each="freq : ${frequencyValues}"
                        th:value="${freq}"
                        th:text="${freq.getDescription()}">
                </option>
            </select>
        </p>
    </div>
    <!--PERIOD-->
    <div>
        <p>Period:
            <select id="period" name="period" required>
                <option value=""> -- </option>
                <option th:each="period : ${periodValues}"
                        th:value="${period}"
                        th:text="${period.getDescription()}">
                </option>
            </select>
        </p>
    </div>
    <!--YEAR-->
    <p>Year: <input type="text" id="year" name="year" required/></p>
    <!--VAT APPLICABLE TO INVOICE-->
    <div>
        <p>VAT Applicable:
            <select id="vatApplicable" name="vatApplicable" required>
                <option value=""> -- </option>
                <option th:each="option : ${isApplicableValues}"
                        th:value="${option}"
                        th:text="${option}">
                </option>
            </select>
        </p>
    </div>
    <!--THE CURRENT RATE OF VAT-->
    <div>
        <span><b>VAT rate</b>:
            <select id="vat" name="vat">
                <option value=""> -- </option>
                <option th:each="rate : ${vatRecords}"
                        th:value="${rate.getVatRate()}"
                        th:text="${rate.getVatRate()}">
                    <!--<select type="hidden" id="vatRate" id="vatRate" th:value="${rate.getVatRate}"></select>-->
                </option>
            </select>
        </span>
        <span><i>  (Or enter rate manually ->)</i></span>
        <label><input type="text" id="manualVatRate" name="manualVatRate"></label>
    </div>

    <!--CURRENCY OF PORTFOLIO-->
    <div>
        <p>Currency for invoice to be issued in:
            <select id="fromCurrency" name="fromCurrency" required>
                <option value=""> -- </option>
                <option th:each="ccy : ${currencies}"
                        th:value="${ccy.getCurrencyId()}"
                        th:text="${ccy.currencyCode}">
                </option>
            </select>
        </p>
    </div>
    <!--CHARGE AMOUNT. VAT VALUE AND TOTAL SHOULD BE AUTO-GENERATED-->
    <p>Amount to charge: <input type="text"  id="baseCharge" name="baseCharge" required/>
        Enter the fee amount without VAT</p>

    <!--EXCHANGE RATE-->
    <div>
        <p>Currency to be converted to:
            <select id="toCurrency" name="toCurrency" required>
                <option value=""> -- </option>
                <option th:each="ccy : ${currencies}"
                        th:value="${ccy.getCurrencyId()}"
                        th:text="${ccy.currencyCode}">
                </option>
            </select>
        </p>
    </div>

    <!--AVAILABLE BANK ACCOUNTS OF COMPANY-->
    <div>
        <p>Bank Account to be paid:
            <select id="bankAccount" name="bankAccount" required>
                <option value=""> -- </option>
                <option th:each="account : ${bankAccounts}"
                        th:value="${account.getId()}"
                        th:text="${account.getBank().getName() + ' - ' + account.getName()}">
                </option>
            </select>
        </p>
    </div>

        <input type="button" id="submitButton" value="Submit" />
        <br>
        <input type="reset" value="Reset" />
</form>
<form action="/">
    <input type="submit" value="Home"/>
</form>
</body>
</html>