<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Invoice</title>
    <link rel="stylesheet" href="/css/view-invoice-as-html.css">
</head>
<body bgcolor="#FFE5CC">
<div>
        <div th:replace="fragments/selected-invoice :: numberAndDate"></div>
        <div th:replace="fragments/selected-invoice :: company"></div>
        <div th:replace="fragments/selected-invoice :: description"></div>
        <div th:replace="fragments/selected-invoice :: charge"></div>
    <br>
    <br>
    <br>


    <div>
        <form action="/">
                <input type="submit" value="Home" name="submit"/>
        </form>

        <form action="/select/read">
            <input type="submit" value="View another" name="submit"/>
        </form>
    </div>
</div>
</body>
</html>