<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Invoice</title>
</head>
<body bgcolor="#FFE5CC">
<div>
        <div th:replace="fragments/selected-invoice :: numberAndDate"></div>
        <div th:replace="fragments/selected-invoice :: company"></div>
        <div th:replace="fragments/selected-invoice :: description"></div>
        <div th:replace="fragments/selected-invoice :: charge"></div>
    <br>
    <br>
    <br>


    <form action="/">
        <div>
            <input type="submit" value="Home" name="submit"/>
        </div>
    </form>
</div>
</body>
</html>