<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Invoice</title>
    <meta http-equiv="Content-Type"/>
    <script src="/read.js" type="application/javascript"></script>
</head>
<body>
<form method="post">
    <h2>SELECT AN INVOICE TO VIEW</h2>
    <div>
        <p>Select an Invoice to view:
            <select th:field="*{invoices}" id="selectedInvoice">
                <option value=""> -- </option>
                <option th:each="invoice : ${invoices}"
                        th:value="${invoice.getId()}"
                        th:text="${invoice.getInvoiceNumber() + ' - ' +
                    invoice.getPortfolio().getClient().getClientName()}">
                </option>
            </select>
        </p>
    </div>
    <br>
    <input type="button" value="View" id="viewButton"/>
</form>
</body>
</html>