<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Invoice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/update.js" type="application/javascript"></script>
    <!--<script src="http://openexchangerates.github.io/money.js/money.js" type="application/javascript"></script>-->
</head>
<body>
<div>
    <!--TODO a) Compare, in client-side, VAT rate input by user with DB and if exists, throw validation error -->
    <!--TODO b) If user changes one of the currencies and doesn't input an exchange rate, generate automatically-->
    <!--INVOICE ID-->
    <input type="hidden" th:value="${invoice.getId()}" id="invoiceId"/>

    <!--INVOICE NUMBER-->
    <div th:replace="fragments/update-choices :: simpleText
       ( description = 'Invoice Number',
         displayToUser = ${invoice.getInvoiceNumber()},
         name = 'invoiceNumber',
         fragment = 'simpleTextInput',
         value = ${invoice.getInvoiceNumber()}
       )">
    </div>
    <br>

    <!--INVOICE DATE-->
    <!--date is changed from format: '2015-12-30' to format '2015/12/30'-->
    <div th:replace="fragments/update-choices :: simpleText
       ( description = 'Date',
         displayToUser = ${#strings.multipleReplace(invoice.getInvoiceDate(),'-','/')},
         name = 'invoiceDate',
         fragment = 'date'
       )">
    </div>
    <br>

    <!--INVOICE TYPE-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Type',
         displayToUser = ${invoice.getInvoiceType()},
         name = 'invoiceType'
       )">
    </div>
    <br>

    <!--CLIENT'S PORTFOLIO-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Portfolio',
         displayToUser = ${invoice.getPortfolio().getClient().getClientName()},
         name = 'portfolio'
        )">
    </div>
    <br>

    <!--COMPANY, ONLY IF EXISTS-->
    <input type="hidden" id="companyId" th:value="${company} == null ? '' : ${company.getId()}"/>
    <div th:if="${company} != null">
        <b>Company</b>
        <input type="checkbox" name=editBox value="Edit" id="companyGroup"/>
        <br>
        <span th:text="${company.getName()}"></span>
        <br>
        <span th:text="${company.getAddress()}"></span>
        <br>
        <span th:text="${company.getCity()}"></span>
        <br>
        <span th:text="${company.getPostcode()}"></span>
        <br>
        <span th:text="${company.getVatNumber()}"></span>
        <br>
        <span th:text="${company.getCompanyLocation().getCountry()}"></span>
        <br>
        <div id="companyDiv" hidden>
            <!--Adding <label></label> around input will fix the warning-->
            <p><input type="text" id="companyName" name="groupValue" th:value="${company.getName()}"> Name</p>
            <p><input type="text" id="companyAddress" name="groupValue" th:value="${company.getAddress()}"> Address</p>
            <p><input type="text" id="companyCity" name="groupValue" th:value="${company.getCity()}"> City</p>
            <p><input type="text" id="companyPostcode" name="groupValue" th:value="${company.getPostcode()}"> Postal code</p>
            <p><input type="text" id="companyVatNumber" name="groupValue" th:value="${company.getVatNumber()}"> VAT number</p>
            <p><select id="companyCountry" name="groupValue">
                <option th:each="country : ${countries}"
                        th:selected="${country} == ${company.getCompanyLocation().getCountry()}"
                        th:value="${country}"
                        th:text="${country}">
                </option>
            </select> Country</p>
        </div>
    </div>
    <br>

    <!--VAT EXEMPT-->
    <div th:replace="fragments/update-choices :: chooseBinary
       ( description = 'VAT Exempt',
         displayToUser = ${invoice.getVatExempt()},
         selected = ${invoice.getVatExempt()},
         name = 'vatExempt'
       )">
    </div>
    <br>

    <!--REVERSE CHARGE-->
    <div th:replace="fragments/update-choices :: chooseBinary
       ( description = 'Reverse Charge VAT',
         displayToUser = ${invoice.getReverseCharge()},
         selected = ${invoice.getReverseCharge()},
         name = 'reverseCharge'
       )">
    </div>
    <br>

    <!--SERVICE PROVIDED-->
    <!--Service will be transformed from all-capital-letters to capitalized first letter for each word-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Service',
         displayToUser = ${#strings.capitalizeWords(#strings.toLowerCase(invoice.getServiceProvided().getServiceName()))},
         name = 'serviceProvided'
        )">
    </div>
    <br>

    <!--FREQUENCY-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Frequency',
         displayToUser = ${#strings.capitalizeWords(#strings.toLowerCase(invoice.getFrequency().getDescription()))},
         name = 'frequency'
        )">
    </div>
    <br>

    <!--PERIOD-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Period',
         displayToUser = ${#strings.capitalizeWords(#strings.toLowerCase(invoice.getPeriod().getDescription()))},
         name = 'period'
        )">
    </div>
    <br>

    <!--INVOICE YEAR-->
    <div th:replace="fragments/update-choices :: simpleText
       ( description = 'Year',
         displayToUser = ${invoice.getYear()},
         name = 'year',
         fragment = 'simpleTextInput',
         value = ${invoice.getYear()}
       )">
    </div>
    <br>

    <!--VAT APPLICABLE TO INVOICE-->
    <div th:replace="fragments/update-choices :: chooseBinary
       ( description = 'VAT Applicable to Invoice',
         displayToUser = ${invoice.getVat().getIsApplicable()},
         selected = ${invoice.getVat().getIsApplicable()},
         name = 'vatApplicable'
       )">
    </div>
    <br>

    <!--VAT RATE-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'VAT Rate',
         displayToUser = ${invoice.getVat().getVatRate()},
         name = 'vatRate'
       )">
    </div>
    <br>

    <!--CURRENCY OF PORTFOLIO-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Default Currency',
         displayToUser = ${invoice.getCurrencyRates().getFromCurrency().getCurrencyCode()},
         name = 'fromCurrency'
        )">
    </div>
    <br>

    <!--CURRENCY TO CONVERT TO-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Converted Currency',
         displayToUser = ${invoice.getCurrencyRates().getToCurrency().getCurrencyCode()},
         name = 'toCurrency'
        )">
    </div>
    <br>

    <!--EXCHANGE RATE-->
    <div th:replace="fragments/update-choices :: simpleText
       ( description = 'Exchange Rate',
         displayToUser = ${invoice.getCurrencyRates().getExchangeRate()},
         name = 'exchangeRate',
         fragment = 'exchangeRate'
       )">
    </div>
    <br>

    <!--CUSTODY CHARGE-->
    <div th:replace="fragments/update-choices :: simpleText
       ( description = 'Amount to Charge',
         displayToUser = ${invoice.getCustodyCharge().getChargeExcludingVat()},
         name = 'custodyCharge',
         fragment = 'simpleTextInput',
         value = ${invoice.getCustodyCharge().getChargeExcludingVat()}
       )">
    </div>
    <br>

    <!--MERITKAPITAL BANK ACCOUNTS-->
    <div th:replace="fragments/update-choices :: chooseFromList
       ( description = 'Bank Account to be paid',
         displayToUser = ${invoice.getBankAccount().getBank().getName()+' - '+invoice.getBankAccount().getName()},
         name = 'bankAccount'
        )">
    </div>
    <br>

    <br><br><br>
    <td><input type="button" value="Update" id="updateButton"></td>
    <form action="/">
        <input type="submit" value="Home"/>
    </form>

</div>
</body>
</html>