<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="body">
    <div>
        <h2>SELECT AN INVOICE TO <span
                th:text="${action} != 'pdf' ? ${#strings.toUpperCase(action)}  : 'CONVERT TO PDF'"></span></h2>
    </div>
    <p>Select an Invoice to
        <span th:text="${action} != 'pdf' ? ${action} : 'convert to pdf'"></span>:
        <select name="id" id="selectedInvoice">
            <option value=""> -- </option>
            <option th:each="invoice : ${invoices}"
                    th:value="${invoice.getId()}"
                    th:text="${invoice.getInvoiceNumber() + ' - ' +
                    invoice.getPortfolio().getClient().getClientName()}">
            </option>
        </select>
    </p>
    <br>
</div>

</body>
</html>