span.fee-header {

 }

/*Column for VAT charges header*/
span.vat-header {
    position: absolute;
    left:360px;
}

span.vat-from {
    position: absolute;
    left:360px;
}

span.vat-to {
    position: absolute;
    left:360px;
}

/*Column for Total Charges*/
span.total-header {
    position: absolute;
    left: 800px;
}

span.total-from {
    position: absolute;
    left: 800px;
}

span.total-to {
    position: absolute;
    left: 800px;
}

