<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Management</title>
</head>
<!--TODO ADD CSS ASAP TO ALL .HTML FILES-->
<body>
    <div>
        <!--Create-->
        <form action="/select/create">
            <input type="submit" value="Issue an Invoice"/>
        </form>

        <!--Read-->
        <form action="/select/read">
            <input type="hidden" name="action" value="read"/>
            <input type="submit" value="Find an Invoice"/>
        </form>

        <!--Update-->
        <form action="/select/update" >
            <input type="hidden" name="action" value="udpate"/>
            <input type="submit" value="Update an Invoice"/>
        </form>

        <!--Delete-->
        <form action="/select/delete">
            <input type="hidden" name="action" value="delete"/>
            <input type="submit" value="Delete an Invoice"/>
        </form>
    </div>

</body>
</html>