<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<body>
    <div>
        <!--Create-->
        <form action="/select/create">
            <input type="submit" value="Issue an Invoice"/>
        </form>

        <!--Read-->
        <form action="/select/read">
            <input type="hidden" name="action" value="read"/>
            <input type="hidden" name="buttonId" value="readButton"/>
            <input type="hidden" name="script" value="/read.js"/>
            <input type="submit" value="Find an Invoice"/>
        </form>

        <!--Update-->
        <form action="/select/update" >
            <input type="hidden" name="action" value="udpate"/>
            <input type="hidden" name="buttonId" value="updateButton"/>
            <input type="hidden" name="script" value="/update.js"/>
            <input type="submit" value="Update an Invoice"/>
        </form>

        <!--Delete-->
        <form action="/select/delete">
            <input type="hidden" name="action" value="delete"/>
            <input type="hidden" name="buttonId" value="deleteButton"/>
            <input type="hidden" name="script" value="/delete.js"/>
            <input type="submit" value="Delete an Invoice"/>
        </form>
    </div>

</body>
</html>