<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.capitalize(action) + ' Invoice'}">TITLE</title>
    <script src="/delete.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/jQuery-Validation/dist/jquery.validate.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/validation-styling.css">
</head>
<body>
<form id="myForm">
    <div th:replace="fragments/find-invoice :: body">Selection of an invoice</div>

    <input type="button" value="Delete" id="deleteButton"/>
</form>
<form action="/">
    <input type="submit" value="Home"/>
</form>
</body>
</html>