<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Invoice</title>
    <script src="/update.js" type="application/javascript"></script>
</head>
<body>
<div>
    <!--INVOICE ID-->
    <tr><input type="hidden" th:value="${invoice.getId()}" id="invoiceId"/></tr>
    <!--INVOICE TYPE-->
    <h3>Type: </h3><span th:text="${invoice.getInvoiceType()}"></span>
        <input type="checkbox" name="editBox" value="Edit" id="invoiceTypeBox"/>
        <div id="invoiceTypeDiv" hidden>
            <p>New Type -> <select id="invoiceType" name="newValue">
                <option th:each="invoiceType : ${invoiceTypeValues}"
                        th:selected="${invoiceType} == ${invoice.getInvoiceType()}"
                        th:value="${invoiceType}"
                        th:text="${invoiceType}">
                </option>
            </select>
                <input type="text" id="invoiceTypeManual" name="manual" value=""> <- Or enter manually
            </p>
        </div>
    <br>
    <!--CLIENT NAME-->
    <h3>Portfolio: </h3><span th:text="${invoice.getPortfolio().getClient().getClientName()}"></span>
    <input type="checkbox" name=editBox value="Edit" id="portfolioBox"/>
    <div id="portfolioDiv" hidden>
        <p>New Portfolio:<select id="portfolio" name="newValue">
            <option th:each="code : ${portfolios}"
                    th:selected="${code.getId()} == ${invoice.getPortfolio().getId()}"
                    th:value="${code.getId()}"
                    th:text="${code.portfolioCode + ' - ' + code.getClient().getClientName()}">
            </option>
        </select>
        </p>
    </div>
    <br>
    <h3>Company <input type="checkbox" name=editBox value="Edit" id="companyGroup"/></h3>
    <div th:if="${company} != null">
        <span th:text="${company.getName()}"></span>
        <br>
        <span th:text="${company.getAddress()}"></span>
        <br>
        <span th:text="${company.getCity()}"></span>
        <br>
        <span th:text="${company.getPostcode()}"></span>
        <br>
        <span th:text="${company.getVatNumber()}"></span>
        <br>
        <span th:text="${company.getCompanyLocation().getCountry()}"></span>
        <br>

        <div id="companyDiv" hidden>
            <p><input type="text" id="companyName" name="groupValue" th:value="${company.getName()}"> Name</p>
            <p><input type="text" id="companyAddress" name="groupValue" th:value="${company.getAddress()}"> Address</p>
            <p><input type="text" id="companyCity" name="groupValue" th:value="${company.getCity()}"> City</p>
            <p><input type="text" id="companyPostcode" name="groupValue" th:value="${company.getPostcode()}"> Postal code</p>
            <p><input type="text" id="companyVatNumber" name="groupValue" th:value="${company.getVatNumber()}"> VAT number</p>
            <p><select id="companyCountry" name="groupValue">
                <option th:each="country : ${countries}"
                        th:selected="${country} == ${company.getCompanyLocation().getCountry()}"
                        th:value="${country}"
                        th:text="${country}">
                </option>
            </select> Country</p>
        </div>

    </div>
    <!--<h3>Invoice Number: </h3><span th:text="${invoice.getInvoiceNumber()}"></span>-->
    <!--<tr><input type="checkbox" value="Edit"/></tr>-->
    <!--<br>-->
    <!--<h3>Bank Account: </h3><span th:text="${invoice.getBankAccount().name + ' - ' + invoice.getBankAccount().getBank().getName()}"></span>-->
    <!--<tr><input type="checkbox" value="Edit"/></tr>-->
    <br><br><br>
    <td><input type="button" value="Update" id="updateButton"></td>

</div>
</body>
</html>